

.notFoundContainer {

    margin : 9.0rem 0 5.0rem 0;

    text-align : center;

    > h1 > svg {

        vertical-align : -4px; // make the icon and h1 element line up vertically

    } // end of h1 > svg

    > h4 {

        padding : 0.5rem 0 1.0rem 0;

    } // end of h4

    > p > a {

        color           : rgba( 73, 121, 255, 1 );
        text-decoration : underline;

    } // end of p > a

} // end of not found container
