

// ==============================
// FONT VARIABLES
// ==============================

$font-primary-1  : 'Open Sans', Arial, sans-serif;
$font-primary-2  : 'Nunito', Arial, sans-serif;
$font-primary-3  : 'Source Sans Pro', Arial, sans-serif;
$font-primary-4  : 'Poppins', Arial, sans-serif;
$font-primary-5  : 'Courier New', Courier, monospace;
$font-display-1  : 'Open Sans Condensed', Arial, sans-serif;
$font-display-2  : 'Josefin Sans', Arial, sans-serif;
